<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'Students')}">

<body>
    <h2>Students</h2>

    <table id="students" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 250px;">ID</th>
                <th style="width: 300px;">Name</th>
                <th>Department</th>
                <th>Birth Place</th>
                <th>Birth Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${selections}">
                <td>
                    <a th:href="@{/stu/__${student.id}__}" th:text="${student.id}" /></a>
                </td>
                <td th:text="${student.name}" />
                <td th:text="${student.department}" />
                <td th:text="${student.birthPlace}" />
                <td th:text="${student.birthDate}" />
            </tr>
        </tbody>
    </table>


</body>

</html>