body {
  padding-top: 50px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.control-label {
  margin-top: 10px;
}

.form-control {
  margin-top: 10px;
}

.glyphicon {
  margin-top: 10px;
}